doctype html
html
    head
        title=title
        //jquery
        script(src='//code.jquery.com/jquery-1.12.0.min.js') 
        
        block scripts
        block css
    body
        block content